<a href="https://colab.research.google.com/github/karlmartn/58003-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested for Loop

In [ ]:
adjective=["big",'tasty','juicy']
fruits=["banana",'apple','cherry']

for x in adjective:
  for y in fruits:
    print(x,y)

big banana
big apple
big cherry
tasty banana
tasty apple
tasty cherry
juicy banana
juicy apple
juicy cherry

Break Statement

In [16]:
week=['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  if x=='Thursday':
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [17]:
week=["Sunday", 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

Looping Through String

In [23]:
for x in 'Philippines':
  print(x)

P
h
i
l
i
p
p
i
n
e
s

while loop

In [22]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

while loop using break statement

In [27]:
i=1
while i<6:
  if i==4:
    print(i)
    break
  i+=1

4

Application 1

In [30]:
x="Hello "
i=1
while i<=10:
  print(x,i)
  i+=1

Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

Application 2

In [44]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9